body {
	background-color: #000030;
	}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
	color: #0077FF;
	}

.entry p a:visited {
	color: #0077FF;
	}

a, h2 a:hover, h3 a:hover {
        color: #0077FF;
	}

#header {
	background-image: url('../images/header-blue.png');
	}
