body {
	background-color: #002000;
	}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
	color: #00BB00;
	}

.entry p a:visited {
	color: #00BB00;
	}

a, h2 a:hover, h3 a:hover {
        color: #00BB00;
	}

#page {
	width: 960px;
	}
	
.narrowcolumn {
	width: 650px;
	}

.widecolumn {
	width: 650px;
	}

#footer {
	width: 960px;
	}

#sidebar
	{
	margin-left: 745px;
	}

#header {
	background-image: url('../images/header-green.png');
	}
